@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

html {
  scroll-behavior: smooth;
}
.h1,
.h2,
.h3 {
  font-weight: 700;
}
.ant-layout.ant-layout-has-sider > .ant-layout,
.ant-layout.ant-layout-has-sider > .ant-layout-content {
  overflow-x: hidden;
  background-color: #f5f5f5;
  padding: 30px;
}
.avatarNavbar {
  border: 3px solid rgb(212, 207, 207);
  position: relative;
  width: 45px;
  height: 45px;
  margin-right: 8px;
  top: 5px;
  border-radius: 50%;
}
.popover-text {
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}
.accountNavbarhover:hover {
  background-color: rgb(230, 247, 255);
  color: #1890ff !important;
  border-radius: 8px;
  cursor: pointer;
}
.accountNavbarhover {
  transition: 0.3s;
  padding-top: 10px;
  padding-left: 15px;
  color: black !important;
}
.sub-topnavbar {
  float: right;
  display: block;
  border-radius: 0.375rem 28px 28px 0.375rem;
  cursor: "pointer";
  position: relative;
  top: -66px;
}
.navbar-avatar {
  border: 4px solid #fff;
}
.logo-content-server {
  width: 50px;
  margin-left: 35px;
}
/* .ant-layout-sider-light {
  background: #f5f5f5 !important;
}
.ant-menu {
  background: #f5f5f5 !important;
} */

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  height: 55px !important;
}
.ant-menu-inline.ant-menu-root .ant-menu-item,
.ant-menu-inline.ant-menu-root .ant-menu-submenu-title {
  padding-left: 40px !important;
}
.menu-navbar {
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
}
.ant-menu-sub.ant-menu-inline {
  background: #fff !important;
  padding: 0px 20px !important;
}
.ant-popover-inner {
  border-radius: 8px !important;
}

.ant-layout-sider {
  /* padding: 15px !important; */
  padding-top: 20px;
}

/* .ant-menu .ant-menu-sub .ant-menu-inline {
  background: #fff !important;
} */
/* .container-submenu {
  background: #fff;
  margin: 0;
  padding: 0px 15px;
} */
.ant-menu-item .ant-menu-item-icon,
.ant-menu-submenu-title .ant-menu-item-icon,
.ant-menu-item .anticon,
.ant-menu-submenu-title .anticon {
  font-size: 25px !important;
}
.ant-menu-title-content {
  font-size: 18px;
  color: #000;
}
.ant-menu-title-content:hover {
  color: #1890ff !important;
  font-weight: 700;
}
.loginBackground {
  background-image: linear-gradient(
      90deg,
      rgba(2, 0, 36, 0.363) 0%,
      rgba(0, 0, 0, 0.616) 0%,
      rgba(0, 0, 0, 0.363) 100%
    ),
    url("../src/assets/images/background.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  overflow: hidden;
}
.loginContainer {
  width: 650px;
  margin: 0px auto;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10px !important;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background: #ffffffb0;
}
.loginContainer .ant-legacy-form {
  padding: 40px 40px;
}
.background_image {
  background-color: #071e32 !important;
  border-radius: 0px;
  color: #ffffff !important;
  border-radius: 8px 8px 0px 0px !important;
  padding: 30px 0px;
}
.position_login {
  font-weight: bolder !important;
}
.login-form {
  padding: 40px !important;
}
.academyInputLarge input {
  background-color: #eff1f2 !important;
  border: 1px solid transparent;
}
.academyInputLarge {
  background-color: #eff1f2 !important;
  height: 45px !important;
  border: 1px solid transparent;
  line-height: 40px !important;
  border-radius: 8px !important;
}
.academySelect {
  height: 45px !important;
  background-color: #eff1f2;
  border: 1px solid transparent;
  line-height: 45px !important;
  width: 100%;
}
.academyInputLarge input:focus {
  background-color: #eff1f2;
}
.academyInputLarge input {
  background-color: #eff1f2 !important;
  border: 1px solid transparent;
}
.login-form-button {
  width: auto !important;
  padding: 0px 50px;
  border-radius: 8px !important;
  height: 30px;
  min-width: 30%;
  margin-top: 20px;
}
.ant-input-number {
  background-color: #f0f2f5 !important;
  border: 1px solid #f0f2f5 !important;
  color: rgb(66, 66, 66);
}
.ant-form-item-control-input-content .ant-input {
  background-color: #f0f2f5;
}
.loginContainer h1 {
  color: #fff !important;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0 !important;
}
.container {
  width: 100% auto;
  min-height: 20%;
  border-radius: 8px;
  padding: 20px 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.container-header {
  background-color: #1b262c;
  padding: 10px 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}
.container-header h1 {
  color: #fff;
  font-weight: 700;
  font-size: 22px;
}
.desc-container-banner {
  width: 80%;
  margin: auto;
  margin-top: 25px;
}
.desc-container-banner p {
  font-size: 18px;
}
.desc-container {
  width: 80%;
  margin: auto;
}
.desc-container p {
  font-size: 18px;
}
.desc-details-left {
  justify-content: end;
  text-align: end;
}
.desc-details-right {
  justify-content: start;
  text-align: start;
}
.container-details {
  width: 95%;
  margin: auto;
}
.container-details h2 {
  font-weight: 700;
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 4px !important;
}
.ant-select-arrow .anticon > svg {
  vertical-align: middle;
  font-size: 13px;
}
/* .select-option {
  width: auto !important;
} */
.ant-form-item .ant-select,
.ant-form-item .ant-cascader-picker {
  width: 255px !important;
}

.detect-button {
  width: 120px;
}

.spin {
  margin: 20% 50%;
  /* padding: 30px 50px; */
  text-align: center;
}

.label-info {
  width: 50% !important;
  border-radius: 4px !important;
}
.button-apply {
  width: 120px !important;
  border-radius: 8px !important;
  margin-top: 30px;
  position: relative;
  left: 130% !important;
  background: #0caedc !important;
  border-color: #0caedc !important;
}
.button-apply2 {
  float: right;
  margin-top: 40px;
  background: #0caedc !important;
  border-color: #0caedc !important;
  border-radius: 8px !important;
}
.button-update {
  background: #0caedc !important;
  border-color: #0caedc !important;
  border-radius: 8px !important;
}
.select-option-wireless {
  width: 350px !important;
  margin-bottom: 6px !important;
}
.ant-form-item-label > label {
  font-size: 18px !important;
  justify-content: end;
  text-align: end;
  margin-right: 30px;
}
.ant-form-item-control-input-content .ant-input {
  border-radius: 8px !important;
  background-color: #fff;
}
.dns-desc-container {
  margin-top: 30px;
}
/* .ant-btn-lg,
.ant-btn {
  border-radius: 4px !important;
  min-width: 120px;
  background-color: #0caedc !important;
  border-color: #0caedc !important;
  color: #fff !important;
} */
.dns-desc-container h2 {
  font-size: 25px;
  font-weight: 700;
}

.close-icon {
  font-size: 28px;
  background: #f0f2f5;
  padding: 5px;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: 13px;
  cursor: pointer;
  z-index: 100;
}
.ant-modal-content {
  border-radius: 8px !important;
}
.ant-modal-header {
  border-radius: 8px 8px 0 0 !important;
}
.submit-button {
  margin-top: 10px;
  float: right;
  margin-bottom: -20px;
}
.container-buttons {
  float: right;
}
.add-button {
  border-radius: 4px !important;
}
.container-adding-records {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.content-padding {
  padding: 30px 50px;
}
.ant-collapse-header {
  font-size: 20px;
}
.storages-container {
  padding: 10px;
}
.item-storages {
  border-radius: 8px;
  padding: 10px 20px;
}
.item-storages p {
  color: #000;
}
.item-storages:hover {
  background: rgba(101, 221, 255, 0.21);
  border: 1px solid #65ddff;
}
.storages-icon {
  width: 80px;
  margin: 0;
  display: block;
}
.ant-progress-inner,
.ant-progress-success-bg,
.ant-progress-bg {
  border-radius: 2px !important;
}
.about-us {
  position: absolute;
  bottom: 50px;
  left: 35%;
  font-size: 16px;
  color: #9da3ac;
  font-weight: 600;
}
.about-us-title {
  font-weight: 900;
  font-size: 100px;
  color: rgba(184, 184, 184, 0.219);
}
.about-us-sub-title {
  font-size: 40px;
  font-weight: 900;
  color: #1b262c;
  margin-top: -40px;
}
.intro-banner {
  width: 65%;
  justify-content: center;
  text-align: center;
  font-size: 18px;
}
.wrap-intro-about-us {
  margin-top: 32px;
  padding: 40px;
  width: 70%;
  margin: auto;
}
.mission-background,
.vision-background,
.history-background {
  padding: 10px;
  min-height: 400px;
  border-radius: 8px;
  height: 400px;
  padding: 30px;
  text-align: center;
  justify-content: start;
  background-color: #ffffff;
}
.mission-header,
.vision-header,
.history-header {
  font-weight: 900;
  font-size: 20px;
}
.logo_miss_vis_his {
  height: 120px;
  width: 120px;
}
.mission-p {
  font-size: 18px;
  justify-content: center;
  text-align: center;
}
.header-storages {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  padding: 20px 25px;
}
.ant-btn-circle {
  border-radius: 50px !important;
}
.back-btn {
  font-size: 25px;
}
.header-storage-2 {
  border-radius: 8px;
  padding: 8px 20px;
  font-size: 20px;
  font-weight: 700;
  background-color: bisque;
  width: 100%;
}
.btn-options-storages {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  padding: 10px 25px;
  justify-content: end;
  text-align: end;
}
.local-data-container {
  padding: 15px 20px;
}
.wireless-radios-options {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  position: relative;
  left: 255px;
}
.sub-header {
  background: #e0e0e0;
  border-radius: 8px;
  padding: 10px 30px;
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  justify-content: end;
}
.icons-update {
  font-weight: 600;
}
.updates {
  margin-right: 5px;
}
.container-update {
  padding: 30px 15px;
  max-height: 250px;
  height: 250px;
  overflow-y: scroll;
  margin-top: 20px;
}
.contaner-update-class {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.container-update p {
  font-size: 10px;
}
.container-manually {
  padding: 30px 15px;
}
.user-account-contanier {
  padding: 40px 15px;
  display: grid;
  place-items: center;
}
.browse-buttons {
  border-radius: 8px !important;
  background: none !important;
  /* border-color: #000 !important; */
}
.browse-buttons:hover,
.browse-buttons:active {
  color: #000 !important;
  border-color: #000 !important;
}
.restore-settting {
  display: grid !important;
  place-items: center !important;
  margin-left: 15px !important;
  margin-bottom: -1px !important;
  margin-top: 30px !important;
}
.restore-checkbox {
  position: relative;
  left: 33vh;
}
.backup-container {
  margin-top: 30px;
}
.reset-container {
  padding: 30px 25px;
}
.date-time {
  font-size: 18px;
  font-weight: 500;
}
.time-pickup {
  border-radius: 8px !important;
  width: 250px !important;
}
